
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}
body{
    background-color: rgb(204, 206, 209);
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif
    
}

header{
    background-color: #19325B;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
    font-size: 25px;
    text-align: center;
   
}
.msj1{
    text-align: center;
    margin: 20px 0;
    font-size: 22px;
    font-weight: 700;
}
.Contenedor_salir{
    display: flex;
    justify-content: flex-end;
    height: 30px;
}
.btn_salir{
    padding: 20px 40px;
    margin-right: 20px;
    text-align: right;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 1px solid red;  */
}
.uno{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 250px;
  
    
}

.dos{
    height: 2020px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 95%;
    background-color: rgb(226, 226, 221);
    
   
}
.dosi{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 95%;
    background-color: rgb(226, 226, 221);
    
   
}
.dose{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 95%;
    background-color: rgb(226, 226, 221);
    
   
}
.dosi div{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.dose div{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.dos div{
    width: 250px;
    display: flex;
    flex-direction: column;
}
.elemento{
    margin-bottom: 10px;
    margin-top: 15px;
}

select{
    height: 30px;
    border-radius: 5PX;
    margin-top: 19px;
}


/* ------------------------------
disision 
---------------------------------------*/

.division{
    margin: auto;
    height: 2px;
    width: 98%;
    margin-top: 20px;
    background-color: rgb(238, 245, 245);
}



.formulario2{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.datos_funcionario{
    width: 95%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 221);
    
}

.datos_funcionario div{
 display: flex;
 flex-direction: column;
 /* border: 1px solid red; */
 

}
.datos{
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}

input{
    width: 250px;
    height: 30px;
    border-radius: 5PX;
    padding-left: 10px;
    text-transform: uppercase;
}

.titulo{
    margin-top: 40px;
    font-size: 22px;
    font-weight: 900;
}

/* seccion # */

#Contenedor_computador{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#Contenedor_Monitor{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}


#Contenedor_impresora{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}
#Contenedor_mouse{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#Contenedor_teclado{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

#Contenedor_scanner{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

/* --------------------------------------------------------------------
                    tabla 
--------------------------------------------------------------------*/

.contenedor_tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_tabla p{
    text-align: center;
    margin-bottom: 30px;
}
.default_tabla{
 /* border: 1px solid red; */
 width: 98%;
}

th{
    border:2px solid black;
    width: 150px;
    font-size: 20px;
}
td{
    border: 1px solid rgb(50, 109, 3);
    text-align: center;
    text-transform: uppercase;
}

footer{
    background-color: #0e213f;
    height: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer p{
    color:white;
    
}

.btn_Guardar{
    display: flex;
    justify-content: center;
    align-items:center ;  
   margin: 0 auto;
    background-color: #00a09d ;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
}


/* ------------------------------------------------------------------------------------------------
                                        RESULTADOS
-------------------------------------------------------------------------------------------------- */

.resultado{
   display: block;
    margin: 40px auto;
    max-width: 1000px;
    
   
}
.datos_bd{
    /* border:1px solid rgb(9, 255, 0); */
    margin-top: 20px;
    display: flex;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item_bd{
 display: flex;
 width: 300px;
 border:1px solid rgba(0, 0, 255, 0.452);
}
.item_bd span{
margin-top: 3px;
margin-left: 3px;
}
.parrafotitulo{
    font-weight: 700;
}
.linea{
    border:1px solid rgba(0, 0, 0, 0.322);
    width: 98%;
    margin: 10px 0px;
}
.linea1{
    border:1px solid rgb(36, 1, 230);
    width: 98%;
    margin: 10px 0px;
}
@media(min-width:550px){
    form{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red;  */
        margin-left: 30px;
    }

    .dos{
        flex-direction: row;
        height:auto;
        width: 100%;
        gap: 30px;
        flex-wrap: wrap; 
    }

    .dosi{
        flex-direction: row;
       
        width: 100%;
        gap: 30px;
        flex-wrap: wrap; 
    }

    
    .dose{
        flex-direction: row;
        width: 100%;
        gap: 30px;
        flex-wrap: wrap; 
    }
    
  label{
    text-align: start;
   
    
  }
    select{
        width: 250px;
        height: 30px;
        
       
    }


    .datos_funcionario{
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
        height: auto;
    }
}


@media(min-width:900px){

    .datos_funcionario{
       gap: 12px;
       height: auto;
       width: 90%;
    }

    .dos{
        height: auto;
        width: 90%;
    }
  
}


@media(min-width:1100px){

    .datos_funcionario{
       gap: 30px;
        height: auto;
    }

    .dos{
        height: auto;
        width: 90%;
        padding-bottom: 20px;
    }
    .dose{
      
        width: 90%;
        padding-bottom: 20px;
    }
}